[Desktop Entry]
Encoding=UTF-8
Name=Link to Running GUI apps with Docker · =D
Type=Link
URL=http://somatorio.org/en/post/running-gui-apps-with-docker/
Icon=text-html
